.container{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 500px;
    height: auto;
 
    
}

.container h1{
    font-size: 50px;
    
}
.container ul li{ 
       list-style-type: none;
       border-radius: 5px;
       background-color: rgb(90, 86, 86);
       text-align: left;
       width: 400px;
       height: 40px;
       margin: 0 auto;
       color: white;
       font-family: 'Times New Roman', Times, serif;
       padding-top: 15px;
       padding-left: 10px;
       margin-bottom: 8px;
      
       
}

.container button{
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    background-color: rgb(22, 158, 22);
    border: 2px solid rgb(121, 118, 118);
    text-align: center;
    color: aliceblue;
    
}